<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<% @books.each do |book| %>
  <div>
    <p>Title<%= book.title %></p>
    <p>opinion<%= book.body %></p>
  </div>
<% end %>